Source: ulock
Section: utils
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 5), libpam0g-dev, xsltproc, docbook-xml
Standards-Version: 3.8.0
Bugs: mailto:ubanus@users.sf.net

Package: ulock
Architecture: any
Depends: ${shlibs:Depends}, libpam-modules
Description: Virtual console locking program
 ulock locks the entire virtual console system, completely disabling all
 console access. It gives up these locks when either the password of
 the user who started ulock or the root password is typed. ulock is able
 to invoke any program (i.e. screen saver), which will be terminated on
 any keystroke.
 The idea of the program has been taken from Michael K. Johnson's vlock.
