#!/usr/bin/make -f

build:
	$(MAKE)
	$(MAKE) ulock.1

clean:
	dh $(@)

install: build
	dh install --until dh_fixperms
	chown root.shadow $(CURDIR)/debian/ulock/usr/bin/ulock
	chmod 2755 $(CURDIR)/debian/ulock/usr/bin/ulock
	dh install --remaining

binary-arch: install
	dh $(@)

binary-indep: install
	:

binary: binary-indep binary-arch

.PHONY: binary binary-indep binary-arch install build clean
